.xps {
  display: flex;

  gap: 1rem;
  width: 100%;

  flex-wrap: wrap;

  margin-top: 2rem;
}

.xp {
  padding: 1.5rem;
  border-radius: 0.8rem;
  color: #f3f3f3;

  display: flex;
  flex-direction: column;

  background: transparent;
  border: 0.1rem solid #dacbd2;

  gap: 1rem;

  flex: 1 1 400px;
}

.xp div img {
  height: 2rem;
}

.xp h1 {
  font-size: 1rem;
  color: #f3f3f3;
}

.xp .period {
  font-size: 1rem;
  color: #f3f3f3;
}

.xp p {
  font-size: 1rem;
}

.xp .skills {
  display: flex;
  flex-wrap: wrap;

  gap: 0.5rem;
}

.xp .skills span {
  padding: 0.2rem 0.5rem;
  background: #dacbd2;
  font-weight: 600;
  color: #000000;
  border-radius: 0.8rem;
  font-size: 1rem;
}

@media (max-width: 1000px) {
  .xp {
    height: auto;
  }
}
