.navbar {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  height: 4rem;
  color: #f3f3f3;

  /* background: #111111;
  border-bottom: 0.1rem solid #343232; */
}

.navbar .navbar_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.branding {
  display: flex;
  align-items: center;
}

.branding h1 {
  font-weight: 600;
  font-family: var(--type-second);
}

.menu {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: end;
  gap: 1.2rem;
}

.menu ul {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.menu ul a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--gap-sm) / 1.2);
  transition: 0.1s all;

  text-transform: uppercase;
  font-family: var(--type-third);
  color: currentColor;
  font-size: 1rem;
}

.menu ul a:hover {
  color: #ffffff;
}

.desktop {
  width: 100%;
  display: flex;
}

.mobile {
  display: none;
  z-index: 999;
}

.menu span {
  display: block;
  height: 2rem;
  width: 0.025rem;
  background: #585858;
}

@media (max-width: 775px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: initial;
  }
}
