.xps {
  display: flex;

  gap: 1rem;
  width: 100%;

  flex-wrap: wrap;
}

.xp {
  padding: 2rem;
  border-radius: 0.8rem;
  color: #f3f3f3;

  display: flex;
  flex-direction: column;

  gap: 1rem;
}

.xp div img {
  height: 2rem;
}

.xp h1 {
  font-size: 1rem;
  color: #f3f3f3;
}

.xp span {
  font-size: 1rem;
  color: #f3f3f3;
}

.xp p {
  font-size: 1rem;
}
