.xps {
  display: flex;

  gap: 1rem;
  width: 100%;

  flex-wrap: wrap;

  margin-top: 2rem;
}

.xp {
  --border-radius: 0.4rem;
  flex: 1 1 400px;
  padding: 0.1rem;
  backdrop-filter: blur(50px);
  border-radius: var(--border-radius);
  animation: rotation 5s linear 0s infinite normal forwards;
  background: linear-gradient(var(--gradient-angle), #303030, rgb(0, 0, 0));
}

.xp .contentCard {
  margin: auto;
  height: 100%;
  width: 100%;

  transition: all 0.2s;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;

  padding: 1.5rem;
  background-color: #000000;
  border-radius: var(--border-radius);

  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}

.xp div img {
  height: 2rem;
}

.xp h1 {
  font-size: 1rem;
  color: #f3f3f3;
}

.xp .period {
  font-size: 1rem;
  color: #f3f3f3;
}

.xp p {
  font-size: 1rem;
}

.xp .skills {
  display: flex;
  flex-wrap: wrap;

  gap: 0.5rem;
}

.xp .skills span {
  padding: 0.2rem 0.5rem;
  background: #383838;
  font-weight: 600;
  color: #f3f3f3;
  border-radius: 0.8rem;
  font-size: 1rem;
}

@media (max-width: 1000px) {
  .xp {
    height: auto;
  }
}
