.xps {
  display: flex;

  gap: 1rem;
  width: 100%;

  flex-wrap: wrap;
}

.xpWrapper {
  display: flex;
  align-items: flex-start;
  gap: 2rem;

  padding: 2rem;
  border-radius: 0.4rem;

  background: #111111;
  border: 0.1rem solid #343232;
}

.xpWrapper .title {
  width: 800px;
}

.xp {
  --border-radius: 0.4rem;

  flex-grow: 1;
  padding: 0.1rem;
  flex: 1 1 400px;
  background: #111111;
  border: 0.1rem solid #343232;
  border-radius: var(--border-radius);
}

.xp .contentCard {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;

  padding: 1.5rem;
  background-color: transparent;
  border-radius: var(--border-radius);

  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}

.xp div img {
  height: 2rem;
}

.xp h1 {
  font-size: 1rem;
  color: #f3f3f3;
}

.xp .period {
  font-size: 1rem;
  color: #f3f3f3;
}

.xp p {
  font-size: 1rem;
}

.xp .skills {
  display: flex;
  flex-wrap: wrap;

  gap: 0.5rem;
}

.xp .skills span {
  padding: 0.2rem 0.5rem;
  background: #383838;
  font-weight: 600;
  color: #f3f3f3;
  border-radius: 0.8rem;
  font-size: 1rem;
}

@media (max-width: 1000px) {
  .xp {
    height: auto;
  }
  .xpWrapper {
    flex-direction: column;
    padding: 2rem 1rem;
  }

  .xpWrapper .title {
    width: 100%;
  }
}
