*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-smooth: always;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
html {
  scroll-behavior: smooth !important;
}
body {
  --type-first: var(--type-first-poppins), Arial, sans-serif;
  --type-second: var(--type-second-inter), Helvetica, sans-serif;
  --type-third: var(--type-third-tiny5), Helvetica, sans-serif;

  --gap-sm: 0.5rem; /* small */
  --gap-md: 2rem; /* medium */
  --gap-lg: 4rem; /* large */

  --radius-sm: 0.2rem; /* small */
  --radius-md: 0.4rem; /* medium */
  --radius-lg: 50%; /* large */

  background: #000000;
  font-family: var(--type-first), Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
h1 {
  font-size: 2rem;
  font-weight: 400;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  font-size: 1rem;
  outline: none;
  border: none;
}
/* Standard container */
.container {
  height: 100%;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}
@media (max-width: 1000px) {
  .container {
    padding: var(--gap-sm);
  }
}

/* Scrollbar */
::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  background: #111111;
}
::-webkit-scrollbar-thumb {
  background: #313131;
  -webkit-border-radius: 1ex;
  /* -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75); */
}
::-webkit-scrollbar-corner {
  background: #000;
}
@supports (not selector(::-webkit-scrollbar)) {
  html {
    scrollbar-width: thin;
    scrollbar-gutter: stable;
    scrollbar-color: #fff;
  }
}
