.header {
  color: #fafafa;

  /* background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)),
    linear-gradient(to top, #02fe83, transparent),
    url("/assets/images/grid.svg"); */
}

.header .header_wrapper {
  min-height: 40vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  position: relative;
}

.subtitle {
  font-size: 1.2rem;
  font-weight: 200;
}

.highlight {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f3f3f3;
}

.highlight > div {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #f3f3f3;
  gap: 2rem;
}

.highlight .title {
  font-size: 4.5rem;
  line-height: 4.2rem;
  font-weight: 600;
  width: 25rem;
}

.highlight .title span {
  font-weight: 200;
}

.description {
  font-weight: 400;
  text-transform: capitalize;
}

.floatSkill {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 5rem;
  width: 5rem;

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.3);

  position: absolute;
  border-radius: 0.4rem;
  font-size: 4rem;

  animation: float 3s ease-in-out infinite;
}

.floatSkill:nth-child(1) {
  top: 5vh;
  left: 18vw;
  animation-delay: 0s;
}

.floatSkill:nth-child(2) {
  top: 5vh;
  right: 18vw;
  animation-delay: 0.5s;
}

.floatSkill:nth-child(3) {
  bottom: 5vh;
  right: 12vw;
  animation-delay: 1s;
}

.floatSkill:nth-child(4) {
  bottom: 5vh;
  left: 12vw;
  animation-delay: 1.5s;
}

@media (max-width: 775px) {
  .highlight .title {
    font-size: 3rem;
    line-height: 3.5rem;
    width: 18rem;
  }

  .floatSkill:nth-child(1) {
    left: 8vw;
  }

  .floatSkill:nth-child(2) {
    right: 8vw;
  }

  .floatSkill:nth-child(3) {
    right: 2vw;
  }

  .floatSkill:nth-child(4) {
    left: 2vw;
  }
}

@media (max-width: 500px) {
  .floatSkill {
    display: none;
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
