.infobar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  text-transform: uppercase;
  background: #42b66d;
}

.header {
  color: #fafafa;
  background: #212121;
}

.header .header_wrapper {
  width: 100%;
  min-height: 40vh;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.subtitle {
  font-size: 1.2rem;
  font-weight: 200;
}

.header_wrapper {
  width: 20rem;
}

.highlight .title {
  font-size: 4.5rem;
  line-height: 4.8rem;
  font-weight: 600;
  width: 25rem;
}

.highlight .title span {
  font-weight: 200;
}

@media (max-width: 450px) {
  .highlight .title {
    font-size: 2.5rem;
    line-height: 3.5rem;
    width: 18rem;
  }
}
