.header {
  color: #fafafa;
  /* background: linear-gradient(to top, transparent, #003b1e); */
}

.header .header_wrapper {
  min-height: 40vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  position: relative;
}

.subtitle {
  font-size: 1.2rem;
  font-weight: 200;
}

.highlight {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f3f3f3;
}

.highlight > div {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #f3f3f3;
  gap: 2rem;
}

.highlight .title {
  font-size: 4.5rem;
  line-height: 4.2rem;
  font-weight: 600;
  width: 25rem;
}

.highlight .title span {
  font-weight: 200;
}

.description {
  font-weight: 400;
  text-transform: capitalize;
}

.floatSkill {
  --border-radius: 0.4rem;

  flex: 1 1 400px;
  backdrop-filter: blur(50px);
  border-radius: var(--border-radius);
  animation: rotation 5s linear 0s infinite normal forwards;
  background: linear-gradient(var(--gradient-angle), #303030, rgb(0, 0, 0));

  height: 5rem;
  width: 5rem;

  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.1rem;
}

.floatSkill .contentCard {
  height: 100%;
  width: 100%;

  display: flex !important;
  align-items: center;
  justify-content: center;
  font-size: 3.5rem;

  backdrop-filter: blur(200px);
  background-color: #000000;
  border-radius: var(--border-radius);
}

.floatSkill:nth-child(1) {
  top: 5vh;
  left: 18vw;
  animation-delay: 0s, 0s;
  transform-origin: 50% 50%;
}

.floatSkill:nth-child(2) {
  top: 5vh;
  right: 18vw;
  animation-delay: 0.5s, 0.5s;
  transform-origin: 50% 50%;
}

.floatSkill:nth-child(3) {
  bottom: 5vh;
  right: 12vw;
  animation-delay: 1s, 1s;
  transform-origin: 50% 50%;
}

.floatSkill:nth-child(4) {
  bottom: 5vh;
  left: 12vw;
  animation-delay: 1.5s, 1.5s;
  transform-origin: 50% 50%;
}

@keyframes float {
  0% {
    transform: translateY(0px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: translateY(-10px) rotateX(10deg) rotateY(10deg);
  }
  100% {
    transform: translateY(0px) rotateX(0deg) rotateY(0deg);
  }
}

@keyframes rotate3D {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: rotateX(15deg) rotateY(15deg);
  }
  100% {
    transform: rotateX(0deg) rotateY(0deg);
  }
}

@media (max-width: 775px) {
  .floatSkill:nth-child(1) {
    left: 8vw;
  }

  .floatSkill:nth-child(2) {
    right: 8vw;
  }

  .floatSkill:nth-child(3) {
    right: 2vw;
  }

  .floatSkill:nth-child(4) {
    left: 2vw;
  }
}

@media (max-width: 520px) {
  .highlight .title {
    font-size: 3rem;
    line-height: 3.5rem;
    width: 18rem;
  }
}

@media (max-width: 475px) {
  .floatSkill {
    display: none;
  }
  .highlight .title {
    font-size: 4rem;
    line-height: 3.5rem;
    width: 80%;
  }
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}
