.header {
  color: #fafafa;
  /* background: linear-gradient(to top, transparent, #003b1e); */
}

.header .header_wrapper {
  min-height: 40vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  position: relative;
}

.subtitle {
  font-size: 1.2rem;
  font-weight: 200;
}

.highlight {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f3f3f3;
}

.highlight > div {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #f3f3f3;
  gap: 2rem;
}

.highlight .title {
  font-size: 4.5rem;
  line-height: 4.2rem;
  font-weight: 600;
  width: 25rem;
}

.highlight .title span {
  font-weight: 200;
}

.description {
  font-weight: 400;
  text-transform: capitalize;
}

.floatSkill {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 5rem;
  width: 5rem;

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.3);

  position: absolute;
  border-radius: 0.4rem;
  font-size: 4rem;

  border: 0.1rem solid #777373;

  animation: float 1s ease-in-out infinite, rotate3D 2s linear infinite;
  perspective: 1000px;
}

.floatSkill:nth-child(1) {
  top: 5vh;
  left: 18vw;
  animation-delay: 0s, 0s;
  transform-origin: 50% 50%;
}

.floatSkill:nth-child(2) {
  top: 5vh;
  right: 18vw;
  animation-delay: 0.5s, 0.5s;
  transform-origin: 50% 50%;
}

.floatSkill:nth-child(3) {
  bottom: 5vh;
  right: 12vw;
  animation-delay: 1s, 1s;
  transform-origin: 50% 50%;
}

.floatSkill:nth-child(4) {
  bottom: 5vh;
  left: 12vw;
  animation-delay: 1.5s, 1.5s;
  transform-origin: 50% 50%;
}

@keyframes float {
  0% {
    transform: translateY(0px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: translateY(-10px) rotateX(10deg) rotateY(10deg);
  }
  100% {
    transform: translateY(0px) rotateX(0deg) rotateY(0deg);
  }
}

@keyframes rotate3D {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: rotateX(15deg) rotateY(15deg);
  }
  100% {
    transform: rotateX(0deg) rotateY(0deg);
  }
}

@media (max-width: 775px) {
  .floatSkill:nth-child(1) {
    left: 8vw;
  }

  .floatSkill:nth-child(2) {
    right: 8vw;
  }

  .floatSkill:nth-child(3) {
    right: 2vw;
  }

  .floatSkill:nth-child(4) {
    left: 2vw;
  }
}

@media (max-width: 520px) {
  .highlight .title {
    font-size: 3rem;
    line-height: 3.5rem;
    width: 18rem;
  }
}

@media (max-width: 475px) {
  .floatSkill {
    display: none;
  }
  .highlight .title {
    font-size: 4rem;
    line-height: 3.5rem;
    width: 80%;
  }
}
