.header {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)),
    linear-gradient(to top, #000000, transparent),
    url("/assets/images/grid.svg");

  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;

  text-shadow: 0 0 80px #000000;
}

.star {
  position: absolute;
  background-color: #aca4a4;

  opacity: 0;
  border-radius: 50%;
  animation: blink 2s infinite ease-in-out;

  height: 0.2rem !important;
  width: 0.2rem !important;
}

.header .header_wrapper {
  min-height: 40vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  position: relative;
}

.subtitle {
  font-size: 1.2rem;
  font-weight: 200;
}

.highlight {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f3f3f3;

  z-index: 2;
}

.highlight > div {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #f3f3f3;
  gap: 2rem;
}

.highlight .title {
  font-size: 4.5rem;
  line-height: 4.2rem;
  font-weight: 600;
  width: 25rem;
}

.highlight .title span {
  font-weight: 200;
}

.description {
  font-weight: 400;
  text-transform: capitalize;
  z-index: 2;
}

.floatSkill {
  --border-radius: 0.4rem;

  flex: 1 1 400px;
  background: #000000;
  border: 0.1rem solid #343232;
  border-radius: var(--border-radius);

  height: 5rem;
  width: 5rem;

  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;
}

.floatSkill .contentCard {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5rem;
}

.floatSkill:nth-child(1) {
  top: 5vh;
  left: 18vw;
  animation-delay: 0s, 0s;
  transform-origin: 50% 50%;
}

.floatSkill:nth-child(2) {
  top: 5vh;
  right: 18vw;
  animation-delay: 0.5s, 0.5s;
  transform-origin: 50% 50%;
}

.floatSkill:nth-child(3) {
  bottom: 8vh;
  right: 15vw;
  animation-delay: 1s, 1s;
  transform-origin: 50% 50%;
}

.floatSkill:nth-child(4) {
  bottom: 8vh;
  left: 15vw;
  animation-delay: 1.5s, 1.5s;
  transform-origin: 50% 50%;
}

@keyframes float {
  0% {
    transform: translateY(0px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: translateY(-20px) rotateX(50deg) rotateY(50deg);
  }
  100% {
    transform: translateY(0px) rotateX(0deg) rotateY(0deg);
  }
}

@keyframes rotate3D {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: rotateX(15deg) rotateY(15deg);
  }
  100% {
    transform: rotateX(0deg) rotateY(0deg);
  }
}

@media (max-width: 775px) {
  .floatSkill:nth-child(1) {
    left: 8vw;
  }
  .floatSkill:nth-child(2) {
    right: 8vw;
  }
  .floatSkill:nth-child(3) {
    right: 2vw;
  }
  .floatSkill:nth-child(4) {
    left: 2vw;
  }
}

@media (max-width: 520px) {
  .highlight .title {
    font-size: 3rem;
    line-height: 3.5rem;
    width: 18rem;
  }
}

@media (max-width: 500px) {
  .highlight .title {
    line-height: 3rem;
  }
  .floatSkill:nth-child(1) {
    top: 1vh;
    left: 8vw;
  }
  .floatSkill:nth-child(2) {
    top: 1vh;
    right: 8vw;
  }
  .floatSkill:nth-child(3) {
    bottom: 1vh;
    right: 2vw;
  }
  .floatSkill:nth-child(4) {
    bottom: 1vh;
    left: 2vw;
  }
  .highlight > div {
    gap: 1rem;
  }
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
}
