.badge {
  color: currentColor;
  /* border: 0.1rem solid currentColor; */
  border-radius: var(--radius-md);
  overflow: hidden;
  height: 4rem;
  width: 12rem;
  cursor: pointer;
  opacity: 0.9;
  transition: 0.1s all;

  display: flex;
  align-items: center;
}

.badge:hover {
  opacity: 1;
}

.badge .badge_wrapper {
  gap: var(--gap-sm);
  display: inline-flex;
  /* padding: var(--gap-sm); */
}

.badge img {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: var(--radius-md);
  user-select: none;
}

.badge div h1,
.badge div span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  user-select: none;
}

.badge div h1 {
  font-size: 1rem;
}

.badge div span {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: calc(var(--gap-sm) / 2);
  font-size: 0.8rem;
}
